<!DOCTYPE html>
<html>
<head>
	<title>Delete Students</title>
</head>
<body>
	<h1>Delete Students from a Campus</h1>
	<form action="/campus" method="POST">
	<input type="text" name="campus" placeholder="New Campus">
	<button type="submit">SAVE</button>
	</form>
</body>
</html>